<%- include("partials/header"); -%>

  <div class="row row-margin">
    <div class="col-lg-2 col-md-1">
    </div>
    <div class="col-lg-8 col-md-10 main-content-container">
      <h1>Our Mission</h1>
      <div class="content">
        <p>We are a small group of explorers/scholars who have dedicated our lives to discovering the lost continent of Atlantis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Consequat semper viverra nam libero justo laoreet. Pellentesque diam volutpat commodo sed. Est sit amet facilisis magna. Velit ut tortor pretium viverra suspendisse. Nisl nunc mi ipsum faucibus vitae. Turpis egestas pretium aenean pharetra magna ac placerat. Est velit egestas dui id ornare arcu. Amet purus gravida quis blandit turpis cursus in hac habitasse. Massa sapien faucibus et molestie ac feugiat. Vulputate odio ut enim blandit volutpat maecenas volutpat. Blandit volutpat maecenas volutpat blandit.</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-1">
    </div>
  </div>

<%- include("partials/footer"); -%>
