<%- include("partials/header"); -%>

<div class="row row-margin">
  <div class="col-lg-2 col-md-1">
  </div>

  <div class="col-lg-8 col-md-10 main-content-container">
    <h1> <%= post.title %> </h1>
    <div class="content">
        <p> <%= post.content %></p>
    </div>
  </div>

  <div class="col-lg-2 col-md-1">
  </div>
</div>

<%- include("partials/footer"); -%>
